<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Welcome to Glitch!</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    <!-- bottombar (mobile) icons -->
    <link href="bottombar.css" rel="stylesheet" />
    <!-- thumbnails (mobile)-->
    <link href="thumbnail.css" rel="stylesheet" />
    <!-- bs3 -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <!-- bs4 tools -->
    <link href="https://cdn.rawgit.com/rishabh-rajgarhia/bootstrap-4-utilities/master/dist/bootstrap-4-utilities.min.css" rel="stylesheet"/>
    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js" defer></script>
    <!-- flexbox -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flexibility/2.0.1/flexibility.js"></script>
    <!-- angularjs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.0/angular.min.js"></script>
    <!-- angular routing -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
    <!-- angular bootstrap -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
    <!-- jq -->
    <script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
  
  
</head>

<body onload="aeon.ui.init();" onresize="aeon.ui.refresh();">
    <div ng-app="aeon-views" class="container-fluid" style="p-2">
        <header>
            <h1> A Dream of the Future </h1>
        </header>
        <main ng-view>

        </main>
    </div>
    <footer>
        <nav class="bottom-nav" data-style="display: flex; justify-content: center;   align-items: center;">
            <a type="button" class="btn bottom-nav__action" href="/trends">
                <i class="bottom-nav__icon glyphicon glyphicon-search"></i>
                <span class="bottom-nav__label">Trends</span>
            </a>
            <a type="button" class="btn bottom-nav__action" href="/search">
                <i class="bottom-nav__icon glyphicon glyphicon-search"></i>
                <span class="bottom-nav__label">Recents</span>
            </a>
            <a type="button" class="btn bottom-nav__action bottom-nav__action--active" href="#">
                <i class="bottom-nav__icon glyphicon glyphicon-heart"></i>
                <span class="bottom-nav__label">Favorites</span>
            </a>
        </nav>
    </footer>
</body>

</html>